{% extends "mainApp/wrapper.html" %}

{% block content %}
    <div class="" align="center">
        <h1>Документация</h1>
    </div>
    <div class="alert alert-info col-4 offset-1 my-5">
        <div class="text-info offset-1">
            <h4>
                <ol>
                    <li><a href="#about_project" style="color: rgb(23, 162, 184);">О проекте</a></li>
                    <li><a href="#skills" style="color: rgb(23, 162, 184);">Возможности проекта</a></li>
                    <li><a href="#future" style="color: rgb(23, 162, 184);">Перспективы</a></li>
                    <li><a href="#contacts" style="color: rgb(23, 162, 184);">Связь</a></li>
                    <li><a href="#contacts" style="color: rgb(23, 162, 184);">Авторы</a></li>
                </ol>
            </h4>  
        </div>
    </div>
    <div>
        <div class="text-info offset-2" >
            <b><a name="about_project"><h2>О проекте</h2></a></b>
            <hr>
        </div>
        <div class="offset-1">
            <h5>
                Данный проект нацелен исключительно на <b>практику в создании сайтов на фреймворке Django</b>,
                по большей части он представляет из себя просто <br>
                личный сайт-блог с последующей поддержкой и обновлением сайта.
                Данным проектом я хочу доказать себе, и не только себе,
                то что я в состоянии изучить<br>
                что-то, чего-то суметь добиться без явной посторонней помощи.
                Не обязательно иметь высшее образование, что бы быть программистом -
                <br>достаточно просто <b>учиться изо всех</b>
                сил и искренне <b>верить в себя</b> и свой последующий успех
                <br><br> &copy; <strong>Программистами не рождаются - программистами становятся</strong>
            </h5>
        </div>
        <br>
        <div class="text-info offset-2">
            <b><a name="skills"><h2>Возможности проекта</h2></a></b>
            <hr>
        </div>
        <div class="offset-1">
            <h5>
                Функционал сайта на данный момент в стадии доработки. 
                На данный момент имеются следующие возможности:<br>
                <ul class="offset-1"><b>
                    <li><a href="/" style="color: rgb(23, 162, 184);">Главная страница сайта</a></li>
                    <li><a href="/contacts/" style="color: rgb(23, 162, 184);">Стрнаца контактов</a></li>
                    <li><a href="/news/" style="color: rgb(23, 162, 184);">Новости</a></li>
                    <li><a href="/docs/" style="color: rgb(23, 162, 184);">Список с документацией</a></li>
                </ul>
                </b>
            </h5>
            <h5>
                Возможности проекта достаточно скудны, но все еще впереди,
                работа над ним ведется каждый день и доводится до совершенства
            </h5>
        </div>
        <br>
        <div class="text-info offset-2" >
            <b><a name="future"><h2>Перспективы</h2></a></b>
            <hr>
        </div>
        <div class="offset-1">
            <h5>
                В перспективе планируется внести правки и частично переработать уже имеющиеся функции проекта.
                Будет увеличен функционал сайта и заполнена<br>
                <a href="/" style="color: rgb(23, 162, 184);"><b> Главная страница </b></a>.
                В идеале первичной задачей стоит превратить имеющийся прототип в <b>полноценный блог с профилем</b> и прочими фичами, присущеми мессенджарам
            </h5>
        </div>
        <br>
        <div class="text-info offset-2" >
            <b><a name="contacts"><h2>Связь</h2></a></b>
            <hr>
        </div>
        <div class="offset-1">
            <h5>
                Связаться со мной достаточно просто. Достаточно перейти во вкладку 
                <b><a href="/contacts" style="color: rgb(23, 162, 184);">Контакты</a></b>
            </h5>
        </div>
        <br>
        <div class="text-info offset-2" >
            <b><a name="future"><h2>Авторы</h2></a></b>
            <hr>
        </div>
        <br>
        <div class="offset-1">
            <h5>
                Данный проект выполнен в одиночку начинающим программистом - Pes_Davyd
            </h5>
        </div>
    </div>
{% endblock %}
